In [2]:
import pandas as pd
import numpy as np
import pandas_datareader as web 
from scipy import stats
import matplotlib.pyplot as plt

In [3]:
data=web.DataReader(['AAPL'], data_source='yahoo', start='1-1-2021', end='12-31-2021')['Adj Close']

In [4]:
data.head()

Symbols           AAPL
Date
2020-12-31  131.709198
2021-01-04  128.453445
2021-01-05  130.041611
2021-01-06  125.664207
2021-01-07  129.952271

In [5]:
data['return']= np.log(data['AAPL'] / data['AAPL'].shift(-1))

In [6]:
data.head()

Symbols           AAPL    return
Date
2020-12-31  131.709198  0.025030
2021-01-04  128.453445 -0.012288
2021-01-05  130.041611  0.034241
2021-01-06  125.664207 -0.033554
2021-01-07  129.952271 -0.008594

In [7]:
#VaR = Volatility * Confidence Interval * sqrt(Time)

In [8]:
vol = data['return'].std()

In [9]:
vol

0.015806478016180143

In [10]:
confidence_interval = stats.norm.ppf(0.99)

In [11]:
confidence_interval

2.3263478740408408

In [12]:
VaR = confidence_interval * vol *np.sqrt(10)*100

In [14]:
VaR

11.628127090856415